.loginforms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.inputbox{
    height: 5vh;
    width: 40vh;
    border-radius: 1vh;
    font-size: 20px;
}
.btn{
    width: 15vh;
    height: 4vh;
    border-radius: 1vh;
    font-size: 15px;
}
h1{
    font-size: 50px;
    color: white;
}