@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway&display=swap');

*,*::before,*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


/* font-family: 'Raleway', sans-serif;
font-family: 'Josefin Slab', serif; */